<footer class="ft">
    <div class="ct-info">
        <h3>CONTACT US</h3>
        <p>Phone: +251 912 345 678</p>
        <p>Email: contact@topacademy.et</p>
        <p>Office: 4 Kilo, Addis Ababa, Ethiopia</p>
    </div>
    <div class="qk-links">
        <h3>Quick Links</h3>
        <a href="/pages/about.html#team">Meet the Team</a>
        <a href="/pages/gallery.html">Gallery</a>
        <a href="/pages/about.html#testimonials">Testimonials</a>
        <a href="/pages/FAQs.html">FAQs</a>
    </div>
    <div class="sc-media">
        <h3>Social Media</h3>
        <a href="#" class="sc-link">LinkedIn</a>
        <a href="#" class="sc-link">Instagram</a>
        <a href="#" class="sc-link">Telegram</a>
        <a href="#" class="sc-link">You Tube</a>
    </div>
    <div class="cp-right">Top Academy © 2025. All Rights Reserved.</div>
</footer>