<footer class="ft">
    <div class="ft-content">
        <div class="ft-section ct-info">
            <h3>CONTACT US</h3>
            <p>Phone: +251 909146096</p>
            <p>Email: contact@topacademy.et</p>
            <p>Office: 4 Kilo, Addis Ababa, Ethiopia</p>
        </div>
        <div class="ft-section qk-links">
            <h3>Quick Links</h3>
            <a href="../about.html#team">Meet the Team</a>
            <a href="/gallery.html">Gallery</a>
            <a href="../about.html#testimonials">Testimonials</a>
            <a href="../FAQs.html">FAQs</a>
        </div>
        <div class="ft-section sc-media">
            <h3>Social Media</h3>
            <a href="#" class="sc-link">LinkedIn</a>
            <a href="#" class="sc-link">Instagram</a>
            <a href="https://t.me/Top_Academy_2025" class="sc-link">Telegram</a>
            <a href="#" class="sc-link">You Tube</a>
        </div>
    </div>
    <div class="cp-right">Top Academy © 2025. All Rights Reserved.</div>
</footer>