<header class="hd">
    <div class="logo">
        <img src="../assets/logo.png" alt="Top Academy Logo" class="lg-img">
    </div>
    <nav class="nav">
        <a href="/top-academy/index.html" class="nav-link">Home</a>
        <a href="/top-academy/services.html" class="nav-link">Services</a>
        <a href="/top-academy/about.html" class="nav-link">About</a>
        <a href="/top-academy/contact.html" class="nav-link">Contact</a>
        <a href="/top-academy/FAQs.html" class="nav-link">FAQs</a>
    </nav>
</header>